<html>
	<head>
		<title>FreewayData: Query</title>
		<link href="/static/css/style.css" rel="stylesheet" type="text/css">
			</head>
	<body>
		<div>
			<h1>FreewayData</h1>
			<!-- navigation menu -->
			<div>
				<a href="/">Query</a> <a href="/import">Import</a> <strong>Utilities</strong> <a href="/filesplit">Filesplit</a> <a href="/mapreduce/status">MapReduce Status</a> <a href="/_ah/stats">App Stats</a> <a href="http://localhost:8003">Console</a>
			</div>
			<hr/>
			<h2>Utilities</h2>
			<hr>
			<div>
				<form action="/utilities" method="get">
					<input type="hidden" name="combine" id="combine" value="combine"/>
					<input type="submit" id="combine" value="Combine"/>
				</form>
			</div>
			<hr/>
			<div>
				<form action="/utilities" method="get">
					<input type="hidden" name="delete" id="delete" value="delete"/>
					<input type="submit" id="delete" value="Drop loop data"/>
				</form>
			</div>
		</div>
	</body>
</html>